{% extends 'layout/app.twig' %}
{% block title %}
    Создать комнату
{% endblock %}
{% block body %}
    <div class="wrapper">
        <form method="get" class="connect" action="/store/chat">
            <h1>Создать комнату</h1>
            <input type="hidden" name="type_connection" value="store_room">
            <div class="input__controlls">
                <label class="name__input">Ваше имя</label>
                <input type="text" name="name" placeholder="введите имя">
            </div>
            <div class="input__controlls">
                <label class="name__input">Комната</label>
                <input type="text" name="room" placeholder="введите комнату">
            </div>
            <div class="check__password">
                <input type="checkbox" name="password" onclick="addPassword()">
                <label>Создать пароль?</label>
            </div>
            <div class="input__controlls__password" id="add__password"></div>
            {% if error %}
                <div class="alert__error">
                    <p>{{ error }}</p>
                </div>
            {% endif %}
            <div class="buttons__controlls">
                <button>ВОЙТИ</button>
                <a href="/">Войти в другую</a>
            </div>
        </form>

    </div>

{% endblock %}
{% block scripts %}
    <script src="../../assets/js/script.js"></script>
{% endblock %}